* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 50%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.card-grid {
  display: flex;
  margin-top: 60px;
}

.card {
  flex: 1;
  padding: 40px 25px;
  border-radius: 10px;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sedan {
  background-color: #e38525;
}

.suv {
  background-color: #016871;
}

.luxury {
  background-color: #003f3e;
}

.card h3 {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.card p {
  margin: 15px 0;
  line-height: 1.5;
  text-align: left;
  font-size: 13px;
  opacity: 0.9;
}

.icon {
  width: 80%;
  height: auto;
}

.icon-wrapper {
  width: 30px;
  height: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.icon-wrapper img {
  width: 35px;
  position: absolute;
  right: -20px;
  filter: brightness(0) invert(1);
}

button {
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  margin-top: 40px;
  background: #f2f2f2;
  color: #000;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
}

.sedan-button {
  color: #e38525;
}

.suv-button {
  color: #016871;
}

.luxury-button {
  color: #003f3e;
}
